<h2>Kitten</h2>

<div>
  <h5>name: <%= @kitten.name %></h5>
  <p>age: <%= @kitten.age %></p>
  <p>cuteness: <%= @kitten.cuteness %></p>
  <p>softness: <%= @kitten.softness %></p>
</div>

<div>
  <%= link_to "Edit Kitten", edit_kitten_path(@kitten) %>
</div>